.board{
background : 	#F0FFFF;
border : lightgray 5px solid;
width : 500px;
height : 500px;
margin : 0px auto;
}

.card{
  //background-image: url("memory_card.jpg");
  height: 100px;
  width: 100px;
  background-color: lightblue;
  margin : 10px;
  float: left;;
  border-color: green;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}



body { text-align: center;
       font-family: italic;

.cardImage {
  width: 100px;
  height : 100px;
  background-color: coral;
  color : white;
  }

.flippedImage {
  width : 100px;
  height: 100px;
  background-color: black;
}
}
