.board{
background : 	#F0FFFF;
border : lightgray 5px solid;
width : 500px;
height : 500px;
margin : 0px auto;

}

.card{
  //background-image: url();
  height: 100px;
  width: 100px;
  background-color: white;
  margin : 10px;
  float: left;;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  color: black;
  
}

.back {
  background-color: black;


}

body { text-align: center;
       font-family: italic;
       background-color: #d8e4c4;
}

h1 {
background-color;
  color : gray;
  text-shadow:-1px 1px 0 #666;

}
